<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Sitter Stat

    <a data-toggle="collapse" href="#user_sitter_stat_new_form">
      Add relationship
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.sitter_stat.each do |relationship| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/relationships/<%= relationship.id %>">
          <%= relationship.home_owner_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
