<h1>
  Add a new pet
</h1>


<hr>

<!-- Form pet start -->
<form action="/create_pet" method="post">
<!-- Form pet end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for category start -->
  <div class="form-group">
    <label for="category">
      Category
    </label>

    <!-- Input for category start -->
    <input type="text" id="category" name="category" class="form-control">
    <!-- Input for category end -->
  </div>
  <!-- Label and input for category end -->

  <!-- Label and input for note start -->
  <div class="form-group">
    <label for="note">
      Note
    </label>

    <!-- Input for note start -->
    <input type="text" id="note" name="note" class="form-control">
    <!-- Input for note end -->
  </div>
  <!-- Label and input for note end -->

  <!-- Label and input for photo start -->
  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <!-- Input for photo start -->
    <input type="text" id="photo" name="photo" class="form-control">
    <!-- Input for photo end -->
  </div>
  <!-- Label and input for photo end -->

  <!-- Label and input for owner_id start -->
  <div class="form-group">
    <label for="owner_id">
      Owner
    </label>

    <!-- Input for owner_id start -->
    <input type="text" id="owner_id" name="owner_id" class="form-control">
    <!-- Input for owner_id end -->
  </div>
  <!-- Label and input for owner_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create pet
  </button>
</form>

<hr>

<a href="/pets">
  Go back
</a>
