<% if @report.present? %>
  <% if @report.errors.any? %>
    <% @report.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new report
</h1>


<hr>

<form action="/create_report" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @report.name %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @report.description %>">
  </div>

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <input type="file" id="photo" name="photo" class="form-control">
  </div>

  <div class="form-group">
    <label for="relationship_id">
      Relationship
    </label>

    <%= select_tag(:relationship_id, options_from_collection_for_select(Relationship.all, :id, :home_owner_id, @report.relationship_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create report
  </button>
</form>

<hr>

<a href="/reports">
  Go back
</a>
