<h1>
  Add a new report
</h1>


<hr>

<!-- Form report start -->
<form action="/create_report" method="post" enctype="multipart/form-data">
<!-- Form report end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for photo start -->
  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <!-- Input for photo start -->
    <input type="file" id="photo" name="photo" class="form-control">
    <!-- Input for photo end -->
  </div>
  <!-- Label and input for photo end -->

  <!-- Label and input for relationship_id start -->
  <div class="form-group">
    <label for="relationship_id">
      Relationship
    </label>

    <!-- Input for relationship_id start -->
    <%= select_tag(:relationship_id, options_from_collection_for_select(Relationship.all, :id, :home_owner_id, @report.relationship_id), :class => "form-control") %>
    <!-- Input for relationship_id end -->
  </div>
  <!-- Label and input for relationship_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create report
  </button>
</form>

<hr>

<a href="/reports">
  Go back
</a>
