<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Reports

    <a data-toggle="collapse" href="#relationship_reports_new_form">
      Add report
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @relationship.reports.each do |report| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/reports/<%= report.id %>">
          <%= report.name %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_report_from_relationship/<%= report.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="relationship_reports_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "relationship_templates/relationship_reports_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
